In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("final.csv")

In [3]:
df_data.head()

                                    condition           drugName  value
0  0</span> users found this comment helpful.            Aricept    0.0
1  0</span> users found this comment helpful.            Atripla    0.0
2  0</span> users found this comment helpful.             Aviane    0.0
3  0</span> users found this comment helpful.            Bepreve    0.0
4  0</span> users found this comment helpful.  Blisovi Fe 1 / 20    0.0

In [4]:
"""

max_c_rows = df_data.groupby('condition', as_index=False)['value'].idxmax()
#max_c_rows
result_df = df_data.loc[max_c_rows].reset_index(drop=True)[['condition', 'drugName']]
"""
result_df = df_data.loc[df_data.groupby('condition')['value'].idxmax()][['condition', 'drugName']]

In [5]:
result_df

                                         condition               drugName
0       0</span> users found this comment helpful.                Aricept
47    100</span> users found this comment helpful.  Estrace Vaginal Cream
48    105</span> users found this comment helpful.                 Viagra
61     10</span> users found this comment helpful.             Effexor XR
87    110</span> users found this comment helpful.                 Plavix
...                                            ...                    ...
9430                     unctional Gastric Disorde            Simethicone
9431                   ungal Infection Prophylaxis           Itraconazole
9432                               ungal Pneumonia            Fluconazole
9434                      von Willebrand's Disease           Desmopressin
9444                                   zen Shoulde                Relafen

[916 rows x 2 columns]

In [6]:
max_c_rows = df_data.groupby('condition', as_index=False)['value'].idxmax()
indx = list(max_c_rows['value'])

In [7]:
df_data.drop(indx,axis=0,inplace=True)

In [8]:
df_data

                                       condition           drugName     value
1     0</span> users found this comment helpful.            Atripla  0.000000
2     0</span> users found this comment helpful.             Aviane  0.000000
3     0</span> users found this comment helpful.            Bepreve  0.000000
4     0</span> users found this comment helpful.  Blisovi Fe 1 / 20  0.000000
5     0</span> users found this comment helpful.            Chantix  0.000000
...                                          ...                ...       ...
9440                                 zen Shoulde            Indocin  1.102257
9441                                 zen Shoulde       Indomethacin  1.102257
9442                                 zen Shoulde         Nabumetone  2.037960
9443                                 zen Shoulde           Naproxen  0.687971
9445                                 zen Shoulde           Voltaren  1.600016

[8530 rows x 3 columns]

In [9]:
result2_df = df_data.loc[df_data.groupby('condition')['value'].idxmax()][['condition', 'drugName']]
result2_df

                                        condition                   drugName
1      0</span> users found this comment helpful.                    Atripla
77    10</span> users found this comment helpful.                    Roxicet
89    11</span> users found this comment helpful.                    Finacea
120   12</span> users found this comment helpful.      Microgestin Fe 1 / 20
143   13</span> users found this comment helpful.                    Elmiron
...                                           ...                        ...
9414                                         min)  Dapagliflozin / metformin
9422                                     moterol)               Arformoterol
9427                                       t Care                 Salvax Duo
9436                     von Willebrand's Disease                    Stimate
9442                                  zen Shoulde                 Nabumetone

[750 rows x 2 columns]

In [10]:
newdf = result_df.merge(result2_df,on='condition', how='right')
newdf

,condition,drugName_x,drugName_y
0,0</span> users found this comment helpful.,Aricept,Atripla
1,10</span> users found this comment helpful.,Effexor XR,Roxicet
2,11</span> users found this comment helpful.,Methadone Diskets,Finacea
3,12</span> users found this comment helpful.,Pepcid AC Chewable Tablets,Microgestin Fe 1 / 20
4,13</span> users found this comment helpful.,Darvocet-N 50,Elmiron
...,...,...,...
745,min),Metformin,Dapagliflozin / metformin
746,moterol),Budesonide / formoterol,Arformoterol
747,t Care,Salicylic acid / urea,Salvax Duo
748,von Willebrand's Disease,Desmopressin,Stimate
749,zen Shoulde,Relafen,Nabumetone

In [12]:
newdf.to_csv("database.csv")